<div class="grid grid-cols-2 gap-8">
  <div class="ml-8 card-body">
    <div>
      <span class="card-header"> 3 Month Data </span>
      <button
        class="float-right inline-flex items-center hover:bg-red-100 border-red-50 hover:border-red-300 hover:text-red-900 focus:outline-none rounded-full p-2 hover:cursor-pointer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="fill-current w-4 h-4 pt-1"
          viewBox="0 0 24 24"
        >
          <path
            d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
          />
        </svg>
      </button>
    </div>
    <canvas #canvas name="canvas" id="canvas"></canvas>
  </div>
  <div class="mr-8 card-body">
    <div>
      <span class="card-header">5 Month Data</span>
      <button
        class="float-right inline-flex items-center hover:bg-red-100 border-red-50 hover:border-red-300 hover:text-red-900 focus:outline-none rounded-full p-2 hover:cursor-pointer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="fill-current w-4 h-4 pt-1"
          viewBox="0 0 24 24"
        >
          <path
            d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
          />
        </svg>
      </button>
    </div>
    <canvas #canvas2 name="canvas2" id="canvas2"></canvas>
  </div>
</div>
