<div class="grid grid-cols-2 mb-5 mr-5 ml-5">
  <div class="mr-5 card-body">
    <span class="card-header"> Create Chart</span>
    <div class="grid grid-cols-2">
      <input
        type="name"
        name="name"
        id="name"
        placeholder="Name"
        class="form-control"
      />
      <input
        type="type"
        name="type"
        id="type"
        placeholder="Type"
        class="ml-5 form-control"
      />
    </div>
    <div class="w-full mt-5 flex items-center justify-center dark:bg-gray-800">
      <label
        class="flex flex-col items-center border py-6 w-full bg-white uppercase cursor-pointer dark:bg-gray-800 dark:border-gray-800 hover:text-blue-500"
      >
        <svg
          class="w-8 h-8"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z"
          />
        </svg>
        <span class="mt-2 text-base leading-normal">Select a file</span>
        <input type="file" class="hidden" />
      </label>
    </div>

    <div class="mt-5 text-right">
      <button class="ml-2 btn btn-primary">Submit</button>
    </div>
  </div>
  <div class="ml-5 card-body">
    <span class="card-header"> Create Chart from API</span>
    <div class="grid grid-cols-2">
      <input
        type="httpReqType"
        name="httpReqType"
        id="httpReqType"
        placeholder="Http Type (Post/Get)"
        class="form-control"
      />
      <input
        type="url"
        name="url"
        id="url"
        placeholder="URL"
        class="ml-5 form-control"
      />
    </div>
    <div class="mt-5 text-right">
      <button class="ml-2 btn btn-primary">Submit</button>
    </div>
  </div>
</div>

<div class="grid grid-cols-2 gap-8 ml-5 mr-5">
  <div class="card-body">
    <div>
      <span class="card-header"> 3 Month Data </span>
      <button
        class="float-right inline-flex items-center hover:bg-red-100 border-red-50 hover:border-red-300 hover:text-red-900 focus:outline-none rounded-full p-2 hover:cursor-pointer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="fill-current w-4 h-4 pt-1"
          viewBox="0 0 24 24"
        >
          <path
            d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
          />
        </svg>
      </button>
    </div>
    <canvas #canvas name="canvas" id="canvas"></canvas>
  </div>
  <div class="card-body">
    <div>
      <span class="card-header">5 Month Data</span>
      <button
        class="float-right inline-flex items-center hover:bg-red-100 border-red-50 hover:border-red-300 hover:text-red-900 focus:outline-none rounded-full p-2 hover:cursor-pointer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="fill-current w-4 h-4 pt-1"
          viewBox="0 0 24 24"
        >
          <path
            d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
          />
        </svg>
      </button>
    </div>
    <canvas #canvas2 name="canvas2" id="canvas2"></canvas>
  </div>
</div>
